{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>{{ t("home.Welcome to %s", {title: title}) }}</p>
--  {{ language }}--
<table>
    <tr>
        <td>{{ t("Preview Mode") }}</td>
        <td>{{ req.preview | default(false) }}</td>
    </tr>
    <tr>
        <td>{{ t("Language") }}</td>
        <td>{{ req.lang }}</td>
    </tr>
    <tr>
        <td>{{ t("Normalized URL") }}</td>
        <td>{{ req.url }}</td>
    </tr>
    <tr>
        <td>{{ t("Original URL")}}</td>
        <td>{{ req.originalUrl }}</td>
    </tr>
</table>
  <hr />
  {% include 'elements/lang-switcher.twig' %}
{% endblock %}
