{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>{{ t("home.Welcome to %s", {title: title}) }}</p>
--  {{ language }}--
  <hr />
  {% if (language == 'en') %}
  <span>{{ t("home.English") }}</span> | <a href="/zh-hk">{{ t("home.Chinese") }}</a>
  {% else %}
  <a href="/en">{{ t("home.English") }}</a> | <span>{{ t("home.Chinese") }}</span>
  {% endif %}
{% endblock %}
